.homeSwiper {
  height: 160PX;

  .homeSwiperImg {
    width: 100%;
    height: 100%;
    /*border-radius: 16PX;*/
  }
}

.homeArticleList {
  position: relative;
  padding-top: 10PX;
  padding-right: 16PX;
  padding-bottom: 10PX;
  padding-left: 16PX;
  margin-top: 8PX;
  background-color: #fff;
  border-radius: 6PX;

  .title {
    line-height: 36PX;
  }

  .desc {
    height: 48PX;
    line-height: 24PX;
    min-height: 48PX;
    font-size: 14PX;
    color: #8a8585;
  }

  .dot {
    position: absolute;
    font-size: 50PX;
    color: red;
    right: 0;
    top: -42PX;
  };
}