.loginForm {
  /*margin-top: 40PX;*/
}

.loginBtn {
  width: 90%;
  margin-top: 30PX;
  margin-left: 5%;
}

.loginGetVcode {
  width: 110PX;
  font-size: 14PX;
}

.at-input {
  padding-left: 32PX;
}

.at-input__title {
  width: 60PX;
}